body{
  font-family: 'Dosis', sans-serif;
}
 
body{
  background-color: #f0ead6; 
  margin:0;
}
 
#tealStrip{
  background-color: rgb(175, 238, 232);
  margin: 0%;
  width: 100%;
}
 
h1{
  text-align: center;
  font-size: 35px;
}
 
a:link, a:visited {
  background-color: #dcdcdc;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
}
 
a:hover, a:active {
  background-color:rgb(175, 238, 232);
}
 
#row1A{
  width: 90%;
  margin-top: 25px;
  margin-left: 70px;
  margin-bottom: 25px;
}
 
#row2A{
  width: 100%;
}
 
#image1A{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 45px;
  padding: 5px;
  border: black solid ;
  background-color:#dcdcdc;
}
 
#projectimgA{
  margin:25px ;
  vertical-align: top;
}
 
#image1textA{
  vertical-align: top;
  margin: 25px;
  font-size: 20px;
}
 
#image2A{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 45px;
  padding: 5px;
  border: black solid ;
  background-color:#dcdcdc;
}
 
#projectimg2A{
  margin:25px ;
  vertical-align: top;
}
 
#image2textA{
  vertical-align: top;
  margin: 25px;
  font-size: 20px;
}
 
#row3A{
width: 100%;
}

#projectimg3A{
margin-top: 45px;
margin-left: 45px;
margin-bottom: 45px;
width: 45%;
float: left;
}
 
#image3textA{
  float: right;
  padding: 5px;
  border: black solid ;
  background-color:#dcdcdc;
  width: 45%;
  margin-top: 45px;
  margin-right: 15px;
  margin-left: 40px;
}

#row1E{
  width: 90%;
  padding: 5px;
  border: black solid ;
  background-color:rgb(175, 238, 232);
  margin: 40px;
  margin-left: 55px;
}
   
#image1E{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
   
#image2E{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
   
#photoshopimgE{
  margin:25px ;
  vertical-align: top;
}

#pscaptionE{
  font-size: 10px;
}
   
#projectmanagementimgE{
  margin:25px;
  vertical-align:top;
}
   
#img1textE{
  vertical-align: top;
  margin: 25px;
  font-size: 20px;
}
   
#img2textE{
  vertical-align: top;
  margin: 25px;
  font-size: 20px;
  margin-top: 36px;
}
   
#row2E{
  vertical-align: top;
  padding: 5px;
  border: black solid ;
  background-color: rgb(175, 238, 232);
  margin: 55px;
}
   
#systemsimgE{
  margin: 25px;
}
   
#systemstextE{
  vertical-align: top;
  font-size: 20px;
}
  
