/*Font for assignments and experiece page*/
body{
  font-family: 'Dosis', sans-serif;
}

/*Background colour and margin for assignments and experience page*/
body{
  background-color: #f0ead6; 
  margin:0;
}

/*css for the nav bar*/
#tealStrip{
  background-color: rgb(175, 238, 232);
  margin: 0%;
  width: 100%;
}

/*css for button assignments page*/
.button {
  background-color:#DCDCDC; /* grey */
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Dosis', sans-serif; ;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 30px; 
  font-family: 'Dosis', sans-serif;
}

#buttonrow{
  width: 100%;
}

#buttons{
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

#buttons2{
margin-left: 100px;
width: 45%;
display: inline-block;
vertical-align: top;
margin-top: 5px;
}

#encrypted{
  margin-left: 440px;
}

#decrypted{
  margin-left: 440px;
}

#centuryFromYear{
  margin-left: 180px;
}

#thirdAngle{
  margin-left: 320px;
}

#tenFour{
  margin-left: 455px;
  text-align: right;
}



/*This is css for title for the assignments and experience page*/
h1{
  text-align: center;
  font-size: 35px;
}

/*css for the navbar*/
a:link, a:visited {
  background-color: #dcdcdc;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
}

/*css for navbar*/
a:hover, a:active {
  background-color:rgb(175, 238, 232);
}

/*the "A" means that it is css specifically for the assignment page*/


/*This is the css for the row that contains the assignment with buttons (JS) and a picture of JS code*/
#row1A{
  width: 90%;
  margin-top: 25px;
  margin-left: 63px;
  margin-bottom: 25px;
}

/*This the image of the JS coding for the buttons*/
#rowimg1A{
  width: 90%;
  margin-top: 25px;
  margin-left: 63px;
  margin-bottom: 25px;
}

/*css for the row of the first two assignments on the assignments page*/
#row2A{
  width: 100%;
}

/*css for image and text for the first assignment*/
#image1A{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  padding: 5px;
  border: black solid ;
  background-color:#dcdcdc;
}

/*css for image for the first assignment*/
#projectimgA{
  margin:25px ;
  vertical-align: top;
}

/*css for text for the first assignment*/
#image1textA{
  vertical-align: top;
  margin: 25px;
  font-size: 20px;
}
 
/*css for image and text for the second assignment*/
#image2A{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 45px;
  padding: 5px;
  border: black solid ;
  background-color:#dcdcdc;
}

/*css for the image for the second assignment*/
#projectimg2A{
  margin:25px ;
  vertical-align: top;
}
 
/*css for the text for the second assignment*/
#image2textA{
  vertical-align: top;
  margin: 25px;
  font-size: 20px;
}

/*css for the row that contains information on thrid assignment*/
#row3A{
width: 100%;
}

/*css for the image for the third assignment*/
#projectimg3A{
margin-top: 45px;
margin-left: 38px;
margin-bottom: 45px;
width: 45%;
float: left;
}

/*css for the text for the third assignment*/
#image3textA{
  float: right;
  padding: 5px;
  border: black solid ;
  background-color:#dcdcdc;
  width: 45%;
  margin-top: 45px;
  margin-right: 25px;
  margin-left: 40px;
}

/*the "E" means that it is css specifically for the experience page*/

/*css for the entire row that contains information on the "Tech That I'm Good At" 
and for "Techs I Want To Learn For The Future" part of the experience page */
#row1E{
  width: 90%;
  padding: 5px;
  border: black solid ;
  background-color:rgb(175, 238, 232);
  margin: 40px;
  margin-left: 55px;
}
   
/*css for the image and text for the "Techs That I'm Good At" section specifically */
#image1E{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

/*css for the image for the "Techs That I'm Good At" section */
#photoshopimgE{
  margin:25px ;
  vertical-align: top;
}

/*source link for the photoshop image*/
#pscaptionE{
  font-size: 10px;
}

/*css for the text for the "Techs That I'm Good At" section */   
#img1textE{
  vertical-align: top;
  margin: 25px;
  font-size: 20px;
}
   
/*css for the image and text for the "Techs I Want To Learn For The Future" section specifcally */
#image2E{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
   
/*css for the image of the "Techs I Want To Learn For The Future" section */
#projectmanagementimgE{
  margin:25px;
  vertical-align:top;
}

/*css for the text for the "Techs I Want To Learn For The Future" section*/
#img2textE{
  vertical-align: top;
  margin: 25px;
  font-size: 20px;
  margin-top: 36px;
}
 
/*css for the row that contains the image and text for "Why I Chose This Course" section*/
#row2E{
  vertical-align: top;
  padding: 5px;
  border: black solid ;
  background-color: rgb(175, 238, 232);
  margin: 55px;
}
   
/*css for the image for the "Why I Chose This Course" section*/
#systemsimgE{
  margin: 25px;
}
  
/*css for the text for the "Why I Chose This Course" section*/
#systemstextE{
  vertical-align: top;
  font-size: 20px;
}
  
