/*font family for the entire index page*/
body{
  font-family: 'Dosis', sans-serif;
}

/*the background colour and margin for the entire index page*/
body{
  background-color: #f0ead6;
  margin:0;
}

/*css for button*/
.button {
  background-color:#DCDCDC; /* grey */
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 30px; 
  float: right;
  font-family: 'Dosis', sans-serif;
}

/*css for the top of the index page that contains the title and navbar(teal trip at top of page)*/
#tealStrip{
  background-color: rgb(175, 238, 232);
  margin: 0%;
  width: 100%;
}
 
/*css for title of website*/
h1{
  text-align: center;
  font-size: 35px;
}
 
/*css for the nav bar*/
a:link, a:visited {
  background-color:#DCDCDC;
  color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
 
/*css for the nav bar*/  
a:hover, a:active {
  background-color:rgb(175, 238, 232);
}

/*css for the row that contains the welcome image and text*/
#row1{
  width: 100%;
  display: flex;
}
 
/*css for the welcome image*/
#welcomeimg{
  width: 40%;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 45px;
}
 
/*css for the welcome text*/
#welcometext{
  font-size: 20px;
  padding: 10px;
  border: black solid ;
  background-color: #DCDCDC;
  border-radius: 15px;
  width:55% ;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}

/*css for the row that contains the trae young image and text*/
#row2{
  width: 100%;
  margin-top: 45px;
  margin-left: 2px;
}
 
/*css for the trae young image*/
#traeyoungimg{
  width: 38%;
  margin-left: 25px;
  float: left;
}

/*the source link to trae young image*/
#traecaption{
  font-size: 10px;
}
 
/*css for the trae young text*/
#traeyoungtext{
  font-size: 20px;
  padding: 10px;
  border:black solid ;
  background-color: #DCDCDC;
  width: 53%;
  margin-right: 25px;
  margin-left: 550px;
}

/*css for the row that contains the travis scott image and text */
#row3{
  width: 100%;
  margin-top: 375px;
}
 
/*css for the travis scott image*/
#travisscottimg{
  margin-left:25px;
  float: right;
  width: 25%;
  margin-right: 25px;
}

/*the source link to the travis scott image*/
#tscaption{
  font-size: 10px;
}
 
/*css for the travis scott text*/
#travisscotttext{
  margin-right: 25px;
  margin-left: 25px;
  font-size: 20px;
  padding: 20px;
  border: black solid ;
  background-color: #DCDCDC;
  width: 65%;
}
 


